{{ if isset .Params "github" }}

{{ $upleft := .Site.Data.Modules.GithubRibbons.Upleft }}
{{ $upright := .Site.Data.Modules.GithubRibbons.Upright }}
{{ $.Scratch.Set "img" .Site.Data.Modules.GithubRibbons.Default }}
{{ $ribbon := .Params.ghribbon }}

{{ if or ( eq $ribbon "black" ) ( eq $ribbon "black-upright" ) }}
  {{ $.Scratch.Set "img" $upright.Black }}
{{ else if or ( eq $ribbon "green" ) ( eq $ribbon "green-upright" ) }}
  {{ $.Scratch.Set "img" $upright.Green }}
{{ else if or ( eq $ribbon "grey" ) ( eq $ribbon "grey-upright" ) }}
  {{ $.Scratch.Set "img" $upright.Grey }}
{{ else if or ( eq $ribbon "orange" ) ( eq $ribbon "orange-upright" ) }}
  {{ $.Scratch.Set "img" $upright.Orange }}
{{ else if or ( eq $ribbon "red" ) ( eq $ribbon "red-upright" ) }}
  {{ $.Scratch.Set "img" $upright.Red }}
{{ else if or ( eq $ribbon "white" ) ( eq $ribbon "white-upright" ) }}
  {{ $.Scratch.Set "img" $upright.White }}
{{ end }}

{{ if eq $ribbon "black-upleft" }}
  {{ $.Scratch.Set "img" $upleft.Black }}
{{ else if eq $ribbon "green-upleft" }}
  {{ $.Scratch.Set "img" $upleft.Green }}
{{ else if eq $ribbon "grey-upleft" }}
  {{ $.Scratch.Set "img" $upleft.Grey }}
{{ else if eq $ribbon "orange-upleft" }}
  {{ $.Scratch.Set "img" $upleft.Orange }}
{{ else if eq $ribbon "red-upleft" }}
  {{ $.Scratch.Set "img" $upleft.Red }}
{{ else if eq $ribbon "white-upleft" }}
  {{ $.Scratch.Set "img" $upleft.White }}
{{ end }}

{{ with .Params.github }}
<a href="https://github.com/{{ . }}">
  <img
    style="position:fixed;top:0;right:0;border:0;"
    src="{{ $.Scratch.Get "img" }}"
    alt="Fork me on GitHub">
</a>
{{ end }}

{{ end }}
