/*
 * Tweaks and overrides to hyde-x.css
 */
 html {
   font-family: "Raleway",sans-serif;
 }

.sidebar-copyright, .post-date, .post table {
  font-family: "PT Sans",Helvetica,Arial,sans-serif;
}

@media (min-width: 48em) {
   .sidebar-sticky {
     position: absolute;
     right:  1rem;
     top:    1rem;
     bottom: none;
     left:   1rem;
   }
 }

.sidebar-about .avatar {
  width: 100px;
  height: 100px;
}

.sidebar-copyright {
  font-size: 0.7em;
}

.content ul.posts {
  margin-left: 0;
  padding-left: 0;
}

.content ul.posts li {
    margin-bottom: 0;
}

.post-metas {
  font-size: 0.8em;
  margin-bottom: 1em;
}

.post-date {
  margin-bottom: 0;
}

.post-tafs .label {
  margin: 0;
}

.post-readlink {
  text-align: right;
}

.post-nav {
  margin-top: 30px;
  font-size: 0.9em;
}
.post-nav .prev, .post-nav .next {
  width: 50%;
}
.post-nav .prev {
  text-align: left;
}
.post-nav .next {
  float: right;
  text-align: right;
}

.pagination {
  margin-left: 0;
  padding-left: 0;
}

.theme-base-08 a.label, .theme-base-08 .pagination > .active > a,
.theme-base-09 a.label, .theme-base-09 .pagination > .active > a,
.theme-base-0a a.label, .theme-base-0a .pagination > .active > a,
.theme-base-0b a.label, .theme-base-0b .pagination > .active > a,
.theme-base-0c a.label, .theme-base-0c .pagination > .active > a,
.theme-base-0d a.label, .theme-base-0d .pagination > .active > a,
.theme-base-0e a.label, .theme-base-0e .pagination > .active > a,
.theme-base-0f a.label, .theme-base-0f .pagination > .active > a {
  text-decoration: none;
  color: #fff;
}

/** Fixes to align sidebar and content top titles */
.sidebar {
  margin-top: 0;
}
.sidebar-sticky {
  top: 3rem;
  padding-top: 0; 
}
.sidebar-title h1 {
  margin-top: 0;
}
.content {
  padding-top: 3rem;
}
.content h1,
.content .post h2 {
  margin-top: 0;
}

@media (min-width: 48em) {
  .content {
    margin-left: 19rem;
  }
}

@media (min-width: 64em) {
  .content {
    margin-left: 20rem;
  }
}

