<header id="header" class="sidebar">
  <div class="container sidebar-sticky">

    <div class="sidebar-title">
      <h1><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
      {{ if ne .Site.Params.tagline "" }}<p class="lead">{{ .Site.Params.tagline | markdownify }}</p>{{ end }}
    </div>

    {{ if .Site.Author.sidebarDisplay }}
    <div class="sidebar-about">
      <h2>{{ .Site.Author.name }}</h1>
      {{ if ne .Site.Author.gravatarHash "" }}<img class="avatar" src="https://www.gravatar.com/avatar/{{ . }}?s=200" alt="gravatar">{{ end }}
    </div>
    {{ end }}

    <nav id="nav">
      <ul id="main-nav" class="sidebar-nav">
        <li class="sidebar-nav-item"><a href="{{ .Site.BaseURL }}">{{ if and (isset .Site.Params "home" ) ( ne .Site.Params.home "" ) }}{{ .Site.Params.home }}{{ else }}Home{{ end }}</a></li>
        {{ partial "navigation" . }}
      </ul>
      <ul id="social-nav" class="sidebar-nav">
        <li class="sidebar-nav-item">
        {{ with .Site.Params.github }}<a href="https://github.com/{{ . }}"><i class="fa fa-github-square fa-2x"></i></a>{{ end }}
        {{ with .Site.Params.bitbucket }}<a href="https://bitbucket.org/{{ . }}"><i class="fa fa-bitbucket-square fa-2x"></i></a>{{ end }}
        {{ with .Site.Params.linkedin }}<a href="fr.linkedin.com/in/{{ . }}"><i class="fa fa-linkedin-square fa-2x"></i></a>{{ end }}
        {{ with .Site.Params.googleplus }}<a href="https://plus.google.com/u/0/+{{ . }}"><i class="fa fa-google-plus-square fa-2x"></i></a>{{ end }}
        {{ with .Site.Params.facebook }}<a href="https://www.facebook.com/{{ . }}"><i class="fa fa-facebook-square fa-2x"></i></a>{{ end }}
        {{ with .Site.Params.twitter }}<a href="https://twitter.com/{{ . }}"><i class="fa fa-twitter-square fa-2x"></i></a>{{ end }}
        {{ with .Site.Params.youtube }}<a href="https://www.youtube.com/channel/{{ . }}"><i class="fa fa-youtube-square fa-2x"></i></a>{{ end }}
        {{ if .Site.Params.rss }}<a href="{{ .RSSlink }}" type="application/rss+xml"><i class="fa fa-rss-square fa-2x"></i></a>{{ end }}
        </li>
      </ul>
    </nav>

    {{ if ne .Site.Params.flattr "" }}
    <p><script id='flattr'>
      (function(id){
        var s = document.getElementById(id);
        var f = document.createElement('iframe');
        f.src = '//api.flattr.com/button/view/?uid={{ .Site.Params.flattr }}&button=compact&url={{ .Site.BaseUrl }}&title={{ .Site.Title }}';
        f.title = 'Flattr';
        f.height = 20;
        f.width = 110;
        f.style.borderWidth = 0;
        s.parentNode.insertBefore(f, s);
      })('flattr');
    </script></p>
    {{ end }}

    {{ if .Site.Author.copyrightDisplay }}
    <div class="sidebar-copyright">
      &copy; {{ .Now.Format "2006" }}
      <span itemprop="author" itemscope itemtype="http://schema.org/Person">
        <span itemprop="name">{{ .Site.Author.name }}</span>
      </span>
    </div>
    {{ end }}

  </div>
</header>
